#container{
    /* border : 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    width: 70%;
    box-sizing: border-box;
}
#container>div{
    border: 1px solid rgb(224, 224, 224);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    /* box-sizing: border-box; */
    position: relative;
}
#container img{
    width: 100%;
    height: 60%;
    display: block;
    margin: auto;
    /* border: 1px solid black; */
}
#logo{
    background-color: #DD0285;
    padding: 15px 10px 15px 10px;
    border-radius: 70%;
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
}
#namebox{
    height: 60px;
    /* border: 1px solid teal; */
    font-size: 14px;
}
#pricebox{
    width: 200px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid brown; */
    margin: auto;
    margin-top: 0px;
    /* margin-bottom: 70px; */
}
strike{
    margin-top: 23px;
    color: rgb(131, 126, 126);
    font-weight: 600;
}
strike+p{
    font-weight: bolder;
    font-size: 20px;
    color: #DD0285;
}
p+p{
    font-weight: bold;
    margin-top: 23px;
    color: green;
}
#cartbox{
    /* border: 1px solid purple; */
    /* position: absolute; */
    bottom: 10px;
    display: flex;
    width: 170px;
    margin: auto;
    height: 30px;
}

#cart{
    display: block;
    margin: auto;
    background-color: #DD0285;
    border: 0px;
    padding: 5px 15px 5px 20px;
    color: white;
    
}
#wish{

    background-color: black;
    color: white;
    
}

