#thirdbox2{
    /* border : 1px solid red; */
    display: grid;
    display: flex;
    box-sizing: border-box;
    overflow: scroll;
    width: 92%;
    box-sizing: border-box;
    margin:auto ;
}
#thirdbox2>div{
    /* border: 1px solid rgb(170, 95, 95); */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    /* position: relative; */
}
#thirdbox2 img{
    width: 100%;
    display: block;
    margin: auto;
}
.namebox{
    height: 60px;
    /* border: 1px solid teal; */
    font-size: 14px;
}
.pricebox{
    width: 200px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid brown; */
    margin: auto;
    margin-top: 0px;
    margin-bottom: 10px;
}
strike{
    /* margin-top: 23px; */
    color: rgb(131, 126, 126);
    font-weight: 600;
}
.pricebox>p:nth-child(2){
    font-weight: bold;
    /* margin-top: 23px; */
    color: #DD0285;
}
.pricebox>p:nth-child(3){
    color: green;
    font: bold;
}
.cartbox{
    /* border: 1px solid purple; */
    /* position: absolute; */
    bottom: 10px;
    display: flex;
    width: 200px;
    margin: auto;
    height: 30px;
}
.ADDcart{
    display: block;
    margin: auto;
    background-color: #DD0285;
    border: 0px solid grey;
    border-radius: 4px;
    color: white;
    height: 30px;
    width: 70%;
    font-size:14px
}
.wish{
    background-color: rgb(77, 75, 75);
    border: 0px;
    border-radius: 4px;
    color: white;
    width: 28px;
    height: 100%;
}
/* #fifthbox2{
    display: flex;
    box-sizing: border-box;
    width: 92%;
    box-sizing: border-box;
    margin:auto ;
} */
/* #fifthbox2>div{
    border: 1px solid rgb(236, 236, 236);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    width: 25%; */
    /* position: relative; */
/* } */
#fifthbox2 img{
    width: 100%;
    height: 65%;
    display: block;
    margin: auto;
} 